@using MVCProje.Models.DTO
@model HomeIndexViewModel

<div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= Model.ToplamSayfa; i++)
            {
                <li class="page-item @(i == Model.SayfaSayısı ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.SayfaBoyutu, turId = Model.TurId, kategoriId = Model.KategoriId, sortOrder = Model.Sıralama })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>